{% extends 'index.html' %}

{% block page %}
    <div class="container-fluid">
        <br>

        <div class="alert alert-warning d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
          <div>
              <strong>Note: </strong> We are still working on adding different policies and including a wider variety of crops. Our first priority is grains. If you have any feedback or would like to request coverage of a specific crop, please get in touch.
          </div>
        </div>

        <h1 class="display-5">Crop Insurance Calculator</h1>
        <link class="lead">Please select from the below menu to view available policies and then generate estimates.</p>

    <form method="post">
    <div class="mb-3">
      <label for="stateSelect" class="form-label">State</label>
      <input type="text" class="form-control" id="stateSelect" placeholder="Idaho" disabled>
    </div>

    <div class="mb-3">
    <label for="cropSelect" class="form-label">Select Crop</label>
    <select id="cropSelect" class="form-select" aria-label="Select crop">
      <option selected>---Select Insurance Year---</option>
      <option value="1">2023</option>
      <option value="2">2024</option>
    </select>
    </div>

    <div class="mb-3">
    <label for="yearSelect" class="form-label">Select Crop</label>
    <select id="yearSelect" class="form-select" aria-label="Select year">
      <option selected>---Select Crop---</option>
      <option value="1">Wheat</option>
      <option value="2">Corn</option>
    </select>
    </div>

    <div class="col-auto">
        <button type="submit" class="btn btn-warning mb-3">See Available Options >>></button>
    </div>
    </form>
    </div>
{% endblock %}